/* Аватар */

.profile__image {
  cursor: pointer;
  position: relative;
}

.profile__image:hover::before,
.profile__image:hover::after {
  opacity: 1;
}

.profile__image::before {
  opacity: 0;
  content: "";
  background-image: url(../../../images/editing-avatar.svg);
  width: 26px;
  height: 26px;
  position: absolute;
  top: 47px;
  left: 47px;
  z-index: 1;
  transition: opacity 0.3s;
}

.profile__image::after {
  opacity: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 120px;
  height: 120px;
  transition: opacity 0.3s;
}
