/* Валидация */

/* .popup__input:invalid {
  border-bottom: 2px solid red;
} */

.popup__error {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.form__submit_inactive {
  background-color: transparent;
  color: #000000;
  border: 1px solid #000000;
  opacity: 0.2;
}

.form__submit_inactive:hover {
  background-color: transparent;
}

.popup__input_type_error {
  border-bottom: 1px solid red;
}

.popup__button_disabled {
  background-color: #ccc;
  pointer-events: none;
}

.popup_error_visible {
  color: red;
}

/* лайк */

.card__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3px;
}

.card__like {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

/* Аватар */

.profile__image {
  cursor: pointer;
  position: relative;
}

.profile__image:hover::before,
.profile__image:hover::after {
  opacity: 1;
}

.profile__image::before {
  opacity: 0;
  content: "";
  background-image: url(../images/editing-avatar.svg);
  width: 26px;
  height: 26px;
  position: absolute;
  top: 47px;
  left: 47px;
  z-index: 1;
  transition: opacity 0.3s;
}

.profile__image::after {
  opacity: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 120px;
  height: 120px;
  transition: opacity 0.3s;
}
